*, *::before, *::after {
    box-sizing: border-box;
}
.container{
    display:flex;
    justify-content:center;
    padding: 0 5px;
    height:600px;
}


.main{
    display:flex;
    justify-content:center;
    align-items:center;
    width:70%;
    height:100%;
    background-color:hsl(0, 5%, 89%);
}

.sub-main{
    display:flex;
    justify-content:center;
    Width:30%;
    height:70%;
    border-radius:20px;
    background-color:hsl(0, 0%, 100%);
   
}
.sub-main1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:90%;
    width:90%;
}
.img{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:65%;
}

.img1{
    width:100%;
    height:90%;
    text-align:center;
    border-radius:15px;
}
.text{
    height:35%;
    width:100%;
    font-size:8px;
    text-align:center;
    padding:10px 10px 10px 10px 10px;

}
.text1 .text2{
    text-align:center;
    width:90%;
}
.text2{
    color:rgb(72, 64, 64);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* For larger screens (desktops) */
  @media (min-width: 1440px) {
    .container {
      max-width: 1400px;
    }
  }
  @media (max-width:1219px){
    .container{
        padding:0;
    }
    .main{
        width:80%;
    }
  }
  
  
  /* For smaller screens (tablets) */
  @media (max-width: 768px) {
    .container {
      width: 100%; /* Use full width */
      padding: 0 10px; /* Reduce padding for smaller screens */
    }
    .main{
        width:100%;
    }
  }
  @media (max-width: 650px){
    .sub-main{
        width:50%;
    }
  }
  
  /* For very small screens (phones) */
  @media (max-width: 486px) {
    .container {
      width: 100%; /* Full width */
      padding: 0 5px; /* Minimal padding */
    }
    .main{
        width:100%;
    }
    .sub-main{
        width:90%;
        height:90%;
    }
  }
  